/** Bootstrap overrides **/

body {
    padding: 10px;
}

a {
    color: #d586c9;
}

a:hover {
    color: #d8aad1;
}

/*************************/

#tracks ul {
    list-style: none;
    padding: 0;
}

.track {
    background-color: #f7b8ff;
    border-bottom: 1px solid #d8aad1;
    height: 89px;
    line-height: 89px;
    position: relative;
    width: 100%;
}

.track:last-child {
    border-bottom: none;
}

.trackInfo {
    background-color: #bcafba;
    border-bottom: 4px solid #888;
    height: inherit;
    left: 0px;
    line-height: 250%;
    position: absolute;
    text-align: center;
    width: 100px;
}

.trackInfo .glyphicon {
    margin: 0 10px;
}

.clip {
    background-color: black;
    height: inherit;
    line-height: inherit;
    position: absolute;
}

.clip-selected {
    background-color: red;
}

#addNewTrack {
    border: 1px dashed;
    display: block;
    height: 48px;
    line-height: 48px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}
