/** Bootstrap overrides **/

body {
    padding: 10px;
}

a {
    color: #d586c9;
}

a:hover {
    color: #d8aad1;
}

/*************************/

#tracks ul {
    list-style: none;
    padding: 0;
}

.track {
    background-color: #f7b8ff;
    border-bottom: 1px solid #d8aad1;
    height: 49px;
    line-height: 49px;
    position: relative;
    width: 100%;
}

.track:last-child {
    border-bottom: none;
}

.clip {
    background-color: black;
    height: inherit;
    line-height: inherit;
    position: absolute;
}

#addNew {
    border: 1px dashed;
    display: block;
    height: 48px;
    line-height: 48px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}
